{% from 'macro.html' import search_services, contact_us, service_apiform, chooseus, whyus, select_vehicle_ajax %}
{% extends "site-base.html" %}
{% block style %}
.home-1 {
    background:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url({{url_for('site.static',filename='media/garage-unsplash.jpg')}}); 
    background-position:bottom; 
    background-position-y:90%; 
    min-height:100vh; 
    position:relative;}
.bg-contact-us{
    background:linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.6)),url({{url_for('site.static',filename='media/images/bg-contact-us.jpg')}}); 
    background-position:top; 
    background-position-y:47%; 
    position:relative;
    background-attachment: relative;
}
.g-recaptcha {
    transform:scale(0.67);
    transform-origin:center;
    
}
.form-control{
    background-color: #161616;

}
.form-floating>label{
    color: #fff;
}
.form-floating>.form-control, .form-floating>.form-select {
    
    background-color: black;
    color: white;
}

.why-us {
    <!-- background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.2)),url({{url_for('site.static', filename='media/images/kimi-albertson-iR5erkaiX9g-unsplash.jpg')}}); -->
    height:100%;
    
    position:relative;
    background-position:bottom; 
    background-position-y:90%; 
}
    

{% endblock %}
<!-- title -->
{% block title %} Home {% endblock %} 
{% block head %}
    {% endblock %}
    
{% block body %}

<div class="row m-0 home-1 d-flex justify-content-center">
        <div class="col-md-7 col-sm-12 bg-contact-us" style="min-height: 90vh;" >
            
            <div class="mt-5 dt-flex align-middle">
                <!-- {{search_services()}} -->
                <div style="min-height:26vh;" class="px-5 text-white">
                    {{chooseus()}}
                </div>
                <div class="justify-content-center text-center">
                    <a class="text-center pt-2 btn-outline-light btn " href="tel:+917080456666">
                        <h3 class="text-center d-md-block d-none" ><i class="fa fa-phone-alt"></i> &nbsp; Call Us on +917080456666</h3>
                        <h5 class="text-center d-md-none d-block" ><i class="fa fa-phone-alt"></i> &nbsp; Call Us on +917080456666</h5>
                    </a>
                </div>
                <div class="row mt-4  py-2 justify-content-center" >
                    
                </div>
                <div class="p-2 m-2">
                    {{contact_us(cform)}}
                    
                </div>
                <div class="p-2 m-2 ">
                {% if endpoint=='site.index' %}
                {% with messages = get_flashed_messages(with_categories=true) %}  
                    {% if messages %}  
                          {% for category, message in messages %}  
                               <div class="alert alert-{{category}}">{{ message }}  </div>
                          {% endfor %}  
                    {% endif %}  
                 {% endwith %}  
                 {% endif %}  
                </div>
            </div>
            
        </div>
        <!-- <div class="col-md-4 col-sm-12 m-auto py-5">
            <div class="p-1">
            {{search_services()}}     
            </div>
            
        </div> -->
</div>
    
{% endblock %}
{% block scripts %}

{{service_apiform()}}
{% endblock %}
{% block onloadscripts %}
<script src="{{url_for('site.static', filename='js/dynamictext.js')}}"></script>
{{select_vehicle_ajax()}}
{% endblock %}