{% from 'macro.html' import search_services, contact_us, service_apiform, chooseus, whyus, select_vehicle_ajax %}
{% extends "site-base.html" %}
{% block style %}
.home-1 {
    background:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url({{url_for('site.static',filename='media/garage-unsplash.jpg')}}); 
    background-position:bottom; 
    background-position-y:90%; 
    height:100vh; 
    position:relative;}

.why-us {
    <!-- background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.2)),url({{url_for('site.static', filename='media/images/kimi-albertson-iR5erkaiX9g-unsplash.jpg')}}); -->
    height:100%;
    position:relative;
    background-position:bottom; 
    background-position-y:90%; 
}
    

{% endblock %}
<!-- title -->
{% block title %} Home {% endblock %} 
{% block head %}

    {% endblock %}
    
{% block body %}

<div class="row m-0 home-1 d-flex">
        <div class="col-md-7 col-sm-12 bg-light" style="height: 80vh;" >
            
            <div class="mt-5 pt-0 dt-flex align-middle ">
                <!-- {{search_services()}} -->
                <div style="min-height:22vh;" class="px-5">
                    {{chooseus()}}
                </div>
               
                <div class="p-2 m-2">
                    {{contact_us(cform)}}
                    
                </div>
                <div class="p-2 m-2 ">
                {% with messages = get_flashed_messages(with_categories=true) %}  
                    {% if messages %}  
                          {% for category, message in messages %}  
                               <div class="alert alert-{{category}}">{{ message }}  </div>
                          {% endfor %}  
                    {% endif %}  
                 {% endwith %}  
                </div>
            </div>
            
        </div>
        <!-- <div class="col-md-4 col-sm-12 m-auto py-5">
            <div class="p-1">
            {{search_services()}}     
            </div>
            
        </div> -->
</div>
    <div class="row m-0">
        <div class="col-12 p-5 py-0 my-0 text-center ">
            

        </div>
    </div>
{% endblock %}
{% block scripts %}


{{service_apiform()}}
{% endblock %}
{% block onloadscripts %}
<script src="{{url_for('site.static', filename='js/dynamictext.js')}}"></script>
{{select_vehicle_ajax()}}
{% endblock %}