{% extends "site-base.html" %}
<!-- title -->

{% block body %}
<h2 class="text-center m-4">{% block title %} Login {% endblock %}  </h2>
<div class="mx-auto container registration  form-row ">
    <form method="post" class="mx-auto">
        <div class="field form-group control">
            <p class="has-icons-left">
                <div class="">
                {{form.firstname}}
                <span class="icon is-small is-left">
                </div>
                
                </span>
            </p>
        </div>
        <div class="field">
            <p class="has-icons-left">
                <div class="">
                {{form.lastname}}
                <span class="icon is-small is-left">
                </div>
                
                </span>
            </p>
        </div>
        <div class="field">
            <p class="has-icons-left">
                <div class="">
                {{form.username}}
                <span class="icon is-small is-left">
                </div>
                
                </span>
            </p>
        </div>
        <div class="field">
            <p class="has-icons-left">
                <div class="">
                {{form.email}}
                <span class="icon is-small is-left">
                </div>
                
                </span>
            </p>
        </div>
        <div class="field">
            <p class="has-icons-left">
                <div class="">
                {{form.password}}
                <span class="icon is-small is-left">
                </div>
                
                </span>
            </p>
        </div>
        <div class="field">
            <p class="has-icons-left">
                <button type="submit" class="btn btn-secondary" name="login" value="Login">Login</button>
                <span>Register <a href="{{url_for('site.register')}}">here</a></span>
            </p>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <span class="flashes text-center alert alert-info">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </span>
                {% endif %}
            {% endwith %}
        </div>
    </form>
    
</div>


{% endblock %} <!-- body -->