{% extends "site-base.html" %}

{% block body %}
    {% block select_vehicle %}
    <!-- title -->
        <div class="container p-2 mx-auto text-center">
            <h1>{% block title %} Select Pincode{% endblock %}</h1>
        </div>

        <div class="mx-auto control contents-wrapper d-flex justify-content-center ">
            <form class="" method="post">
                <div id="nav-autovedic" class="input-group  mt-5 ">
                    
                    <div class="input-group-prepend ">
                        
                        <select id="map_pincode" class="form-control btn-outline-primary" name="map_pincode" required="
                        " type="text" value=""><option value="none" selected disabled hidden>Select Pincode</option>
                        </select>
                        
                    </div>
                    <select id="map_postoffice" class=" form-control btn-outline-primary" name="map_postoffice" required="
                    " type="text" value="" style="width: 200px; max-width: 200px;" ><option value="none" selected disabled hidden>Select Area</option></select>
                    <div class="input-group-append">
                    
                    <button id="submit" class="btn btn-outline-success" name="submit" type="submit">
                    <i class="bi bi-check2"></i></button>
                    </div>
                </div>
                
            </form>
        </div>
    {% endblock %}
{% endblock %}


{% block scripts %}  <!-- body ends-->
{% from 'macro.html' import search_apiform %}
{{ search_apiform() }}

{% endblock %} <!-- script ends-->