<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="avialxee" content="Autovedic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - Autovedic </title>
    <style>
      {% block style %}{% endblock %}
      .nav-autovedic{
        background-image: url("{{url_for('site.static', filename='media/banner.jpg')}}");
        background-position:bottom;
        background-size:cover;
        background-blend-mode: color-dodge;
        background-color:rgba(0, 0, 0, 0.4);
        text-align: center;
      }
      .jumbo-autovedic {
        background: none;
      }
      .navbar-brand {
        font-size: 6.5vh;
      }

    </style>
  </head>
  <body>
    <!--div class="text-fluid alert alert-secondary small m-0 p-0 text-right pb-1" role="alert" >
      contact : <a href="mailto:autovedic@gmail.com">autovedic@gmail.com</a>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="font-size: 1.2rem !important;">
        <span class=" pl-5 pr-1 m-0 small" aria-hidden="true" >&times;</span>
      </button>
    </div-->

    <!-- navbar - begins -->
    <div class="nav-autovedic">
      <nav class="navbar navbar-dark " >
      <ul class="navbar-nav ml-auto text-right">
        <li class="nav-item">
            {% if current_user.last_vehicle_model_nm %}
              <a class="nav-link" href="{{url_for('site.select_vehicle')}}">{{ current_user.last_vehicle_model_nm }}</a>
            {% else %}
            <a class="nav-link" href="{{url_for('site.select_vehicle')}}">Vehicle</a>
            {% endif %}
        </li>
        <!--li class="nav-item">
          <a class="nav-link" href="#">Location</a>
      </li-->
        
      </ul>
    </nav>
      <nav class="navbar navbar-expand-md collapse navbar-dark " >
        <div class="navbar-expand navbar-collapse collapse  w-100 order-3 dual-collapse2">
          <div class="mr-auto order-1">
            <div class="jumbo-autovedic">
              <a class="navbar-brand mx-auto" href="{{ url_for('site.index')}}">AUTOVEDIC</a>
            </div>
          </div>
            <ul class="navbar-nav ml-auto order-1">
                {% if current_user.is_authenticated %}
                  <li class="nav-item"> 
                    <a class="nav-link" href="{{url_for('site.user_profile')}}"> Account
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('site.logout')}}">Log Out</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('site.login')}}">Log In</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('site.register')}}">Sign Up</a>
                  </li>
                {% endif %}
            </ul>
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
        
      </nav> <!-- navbar ends-->
      
        <nav class="navbar navbar-expand-md navbar-dark">
          
            
          
        </nav>
        
      {% block nav %}{% endblock %}
    </div>





    {% block body %}
    {% endblock %}
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% block scripts %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    
      </body>
</html>
