{% extends "site-base.html" %}

<!-- title -->
{% block title %}
    {% if user %}
        {{ current_user.fullname }} 

    {% else %}
        Account
    {% endif %}
{% endblock %} 

{% block body %}

<div class="jumbotron m-2">
    <div class="row">
        <div class="col-6 justify-content-left">
            <h4 class="">{{current_user.fullname}}</h4>
            {{current_user.email}} | {{current_user.mobile}}
        </div>
        <div class="col-6 text-right justify-content-right">
            <button class="btn btn-outline-secondary"> Edit Profile</button>
        </div>
    </div>
    
  </div>


<div class="container text-center">
    <div>
        {{current_user.fullname}}
    </div>
    <div>
        {{current_user.email}}
    </div>
    <div>
        {{current_user.name}}
    </div>
    <div>
        {{current_user.created_at}}
    </div>
    <div>
        {{current_user.updated_at}}
    </div>
    <div>
        {{current_user.last_vehicle_model_nm}}
    </div>
</div>
{% endblock %}