{% extends "admin-base.html" %}
<!-- title -->
<h2 class="text-center m-4">{% block title %} Login {% endblock %}  </h2>
{% block style %}
 main{
    padding-top:20vh;
    
 }
 {% endblock %}     
{% block body %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=" alert alert-info w-100 mx-auto">
                
            <span class="field">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </span>
            {% endif %}
        {% endwith %}
            </div>
            <main class="m-auto">
                <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
                 <div class="form-sigin col-6 col-lg-3  m-auto text-left">
                     <form method="post">
                             <div class="">
                                 <div class="form-floating">
                                     {{form.username(class="form-control mt-2", id="username")}}
                                   <label for="username">Username</label>
                                 </div>
                                 <div class="form-floating">
                                     {{form.password(class="form-control mt-2", id="password")}}
                                     <label for="password">Password</label>
                                 </div>
                             
                                 <div class="checkbox m-3">
                                   <label>
                                     <input type="checkbox" value="remember-me"> Remember me
                                   </label>
                                 </div>
                                 <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                             
                             </div>
                         </form>
                 </div>   
                 
                 
             </main>


{% endblock %} <!-- body -->